#map {
  height: 85%;
}

#top {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fix this */
.form-popup {
  position: absolute;
  bottom: 300px;
  right: 600px;
  z-index: 9;
  border-style: outset;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

#modal {
  position: absolute;
  bottom: 300px;
  right: 600px;
  z-index: 9;
  border-style: outset;

  border-radius: 10px;
  background-color: maroon;
  color: white;

  margin: 1em;
  padding: 1em;
}

#modal p {
  margin-bottom: 0;
}
